.container {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(5, 75px);
  column-gap: 15px;
  row-gap: 25px;
  background-color: #3e2723;
  padding: 10px;
  border-radius: 10px;
}

.item {
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
}

.item-1 {
  background-color: orange;
}

.item-2 {
  background-color: red;
}

.item-3 {
  background-color: green;
}

.item-4 {
  background-color: blue;
}

.item-5 {
  border-color: black;
  background-color: cyan;
  color: black;
}

.item-6 {
  border-color: black;
  background-color: white;
  color: black;
}

.item-7 {
  border-color: black;
  background-color: yellow;
  color: black;
}

.item-8 {
  background-color: gray;
}